<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>

    <meta charset="utf-8">
    <title> ABOUT</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css">
  </head>

  <body>
      <div class="main-content">
          {{>headers}}
          <img  class ="portrait" src="/img/my.jpg" alt="">
          <p>{{name}}</p>
      </div>

    {{>footer}}

  </body>
</html>
