<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>

    <meta charset="utf-8">
    <title> ABOUT</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css">
  </head>

  <body>
      <div class="main-content">
          {{>headers}}
          <p>This a weather app to provide current weather of the required location.
          It uses the live info from mapbox.com and darksky.net api's.</p>
          <h3>This application site is created by Anurag Bururte under AUXsoftware flag.</h3>
          <img  class ="portrait" src="/img/my.jpg" alt="">
          <p>{{name}}</p>
      </div>

    {{>footer}}

  </body>
</html>
