<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>


    <meta charset="utf-8">
    <title>WEATHER</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css">
  </head>

  <body>
    <div class="main-content">

        {{>headers}}
        <p>Use this site to get your weather.</p>

        <form class="">
          <input type="text"  placeholder="Location">
          <button type="button" name="button">Search</button>

        </form>

        <p id="message-1"></p>
        <p id="message-2"></p>
    </div>

    {{>footer}}
    <script type="text/javascript" src="/js/app.js">

    </script>
  </body>

</html>
